<a href="https://colab.research.google.com/github/DIFFIDENT24/new/blob/main/multiplication%20table.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Table of a number
print("Enter the number")
a=int(input())
print("Multiplication table of ",4,"is")
list1=list(range(11))
for i in list1:
    print(a,"×",i,"=",a*i)
    i=i+1

Enter the number
3
Multiplication table of  4 is
3 × 0 = 0
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27
3 × 10 = 30